<html>
<head>
  <style type="text/css">
    .m {font-size:24px; color:#e00}
    .f {font-family:monospace; margin-top:12px}
  </style>
  <title><%= h @af.basename %></title>
</head>
<body>
  <div class="m">File not found on server.</div>
  <div class="f"><%= h @af.filename %></div>
</body>
</html>