<% if @albums.total_entries == 0 %>
  <div id="no_results">
    No results found.
  </div>
<% else %>
  <%= render :partial => 'pagination', :locals => {:result_row => :above} %>
  <%= render :partial => 'album', :collection => @albums %>
  <%= render :partial => 'pagination', :locals => {:result_row => :below} %>
<% end %>
