#new {margin-bottom: 32px}
#locations .loc {border: solid 1px black; padding: 4px; margin: 16px}
#locations .doesnt_exist {color: red}
#locations .warning {font-weight: bold; text-align:center}
#locations .active {font-weight: bold; text-align:center; color: blue}