#page_container {width:100%; height:100%}
#body_inner_table {margin:0 auto auto auto}
#left, #body_inner_cell {padding:6px}

/* DEBUG PROPERTIES
#body_inner_cell {background:#fff}
#left {background:#ddd}
#body_outer {background:#cfc}
#search_query_form {background:#ffb}
#search_query_form .fields {background:#8af}
*/

#left {background:#e0e0e0; border-right:solid 1px #777; width:240px}
#search_query_form {width:230px; margin:0 auto 0 auto}
#search_query_form .fields {margin-bottom: 10px; width:100%}
#search_query_form .fields th {text-align:left; text-decoration:underline}
#search_query_form .fields .l {padding-right:6px}
#search_query_form .submit {text-align:center}
#search_query_form .fields .txt {width:100%}

.search_error, .search_error * {font-weight:bold; font-size: 14px; margin-top: 36px; color:#e00}
#sq_errors ul {margin-top:12px; padding-left:26px}
#sq_errors li {margin-top:4px; font-weight:normal; color:#111}

.album_obj {margin:18px}
.album_obj .albumart {width:260px}
.album_obj .albumart img, .album_obj .albumart .none {margin:6px 10px auto auto; border:solid 1px #1a1a1a}
.album_obj .albumart img {width:250px; height:auto; display:block}
.album_obj .albumart .none td {
  vertical-align:middle; text-align:center; padding:16px; background:#ddd;
  font-style:italic; width:218px; height:230px; color:#666
}
.album_obj .artist {font-weight:bold; font-size:24px}
.album_obj .album {font-weight:bold; font-size:22px; color:#e82222}
.album_obj .year {padding-left:8px; color:#322}

.discs {margin-top:16px}
.discs td {font-size:11px}
.discs .sep {width:16px}
.discs .non_first_disc_row td {padding-top:14px}
.discs .titles td {font-weight:bold}
.discs td.tracks {border-top:solid 1px #222}
.discs tr.single td.tracks {min-width:260px; max-width:/*260*2+16(sep)*/536px}
.discs tr.double td.tracks {width:260px}
.discs table.tracks {width:100%}
.discs .tracks td {font-size:10px}
.discs .tracks .alt1 td {background:#e4e8ff}
.discs .track td {padding:1px}
.discs .tracks .tn {width:16px}
.discs .tracks .len {text-align:right; padding-left:10px}
.discs .tracks .dl {padding-left:4px}
.discs .tracks .dl a {color:#00b; font-size:10px}
.discs .summary {text-align:right; font-style:italic; border-top:solid 1px #222}

#stats {margin-top:14px}
#stats .sep th {height:24px}
#stats .section th {text-align:left; font-size:14px; padding:4px; background:#69b10a; color:#fff; letter-spacing:1px}
#stats td {padding:2px 4px 2px 4px; vertical-align:top}
#stats .k {font-weight:bold}
#stats .v {text-align:right; padding-left:8px}
#stats .exact_bytes {font-style:italic}
#stats .alt1 * {background:#e8e8fa; color:#000060}

#stats .section th {border:solid 1px #333}
#stats .k {border-left:solid 1px #333}
#stats .v {border-right:solid 1px #333}
#stats .sep {border-top:solid 1px #333}
#stats {border-bottom:solid 1px #333}
