.album_obj {margin-bottom:36px}
.album_obj .albumart {width:330px}
.album_obj .albumart img, .album_obj .albumart .none {margin:6px 10px auto auto; border:solid 1px #444}
.album_obj .albumart img {height:260px; display:block}
.album_obj .albumart .none td {
    vertical-align:middle; text-align:center; padding:16px; background:#ddd;
    font-style:italic; width:200px; height:210px; color:#666
}
.album_obj .artist {font-weight:bold; font-size:24px}
.album_obj .album {font-weight:bold; font-size:22px; color:#e82222}
.album_obj .year {padding-left:8px; color:#322}

.discs {margin-top:16px}
.discs td {font-size:11px}
.discs .sep {width:16px}
.discs .titles td {font-weight:bold}
.discs td.tracks {border-top:solid 1px #222}
.discs tr.single td.tracks {min-width:260px; max-width:/*260*2+16(sep)*/536px}
.discs tr.double td.tracks {width:260px}
.discs table.tracks {width:100%}
.discs .tracks td {font-size:10px}
.discs .tracks .alt1 td {background:#e4e8ff}
.discs .track td {padding:1px}
.discs .tracks .tn {width:16px}
.discs .tracks .len {text-align:right; padding-left:10px}
.discs .summary {text-align:right; font-style:italic; border-top:solid 1px #222}
